.loaderContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  display: inline-block;
  position: relative;
  width: 288rem;
  height: 288rem;
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
}
.loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 256rem;
  height: 256rem;
  margin: 16rem;
  border: 16rem solid var(--accent1-color);
  border-radius: 50%;
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--accent1-color) transparent transparent transparent;
}
.loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
