.rulesSection {
  min-height: calc(100vh - 58rem);
  padding: 32rem clamp(12rem, 15vw, 250rem);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 32rem;
}
.rulesTitle {
  height: fit-content;
  font-size: 48rem;
  font-weight: 900;
  font-family: var(--header-font);
  white-space: nowrap;
}
.rulesContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ruleItem {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.description {
  font-size: 18rem;
  font-weight: 300;
}
.image {
  border-radius: 16rem;
}
.levelsBtn {
  padding: 12rem 48rem;
  font-size: 24rem;
  font-weight: 800;
  background-color: var(--accent2-color);
  border-radius: 16rem;
}
.playSection {
  margin-bottom: 32rem;
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 32rem;
}
