.root {
  padding: 32rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 48rem;
  font-size: 24rem;
  background-color: #fffdf988;
  border-radius: 16rem;
  @media (max-width: 1024px) {
    font-size: 18rem;
    gap: 32rem;
  }
  @media (max-width: 480px) {
    padding: 24rem;
    gap: 24rem;
  }
}
.masterContainer {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 32rem;
  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
    gap: 18rem;
  }
}
.masterWords {
  width: 250rem;
  height: fit-content;
  padding: 48rem;
  position: relative;
  background-color: var(--back-color);
  border-radius: 100%;
  @media (max-width: 1024px) {
    padding: 32rem;
  }
  @media (max-width: 480px) {
    padding: 24rem;
  }
}
.master {
  height: 55vh;
  // width: 250rem;
  // @media (max-width: 1024px) {
  //   width: 200rem;
  // }
}
.buttonsContainer {
  display: flex;
  gap: 36rem;
  flex-wrap: wrap;
  @media (max-width: 1024px) {
    gap: 24rem;
  }
  @media (max-width: 480px) {
    flex-direction: column;
  }
}
.button {
  padding: 8rem 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12rem;
  cursor: pointer;
  @media (max-width: 1024px) {
    padding: 12rem 24rem;
  }
  @media (max-width: 480px) {
    padding: 8rem 16rem;
  }
}
.playBtn {
  font-weight: 800;
  background-color: var(--accent2-color);
  border-radius: 16rem;
  white-space: nowrap;
}
.exitBtn {
  font-weight: 500;
  background-color: var(--back-color);
  border: 3rem solid var(--accent1-color);
  border-radius: 16rem;
  white-space: nowrap;
}
.icon {
  width: 32rem;
  height: 32rem;
  fill: none;
  flex-shrink: 0;
  @media (max-width: 480px) {
    width: 24rem;
    height: 24rem;
  }
}
