.main {
  min-height: 25vh;
  font-size: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: black;
  color: white;
  margin-bottom: 32rem;
}
