.levelsContainer {
  height: calc(100vh - 58rem);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48rem;
  outline: 1rem solid var(--text-color);
}

.levelColumn {
  display: flex;
  flex-direction: column;
  gap: 48rem;
  justify-content: center;
  align-items: center;
}
