.sectionContainer {
  min-height: calc(100vh - 58rem);
  padding: 32rem 32rem 32rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32rem;
  @media (max-width: 1024px) {
    height: 100%;
  }
  @media (max-width: 480px) {
    padding: 24rem 24rem 24rem 0;
  }
}

.levelsTitle {
  height: fit-content;
  padding-left: clamp(12rem, 15vw, 250rem);
  font-size: 48rem;
  font-weight: 900;
  font-family: var(--header-font);
  white-space: nowrap;
  @media (max-width: 1024px) {
    font-size: 32rem;
  }
  @media (max-width: 480px) {
    padding-left: 24rem;
    font-size: 24rem;
  }
}
.levelsContainer {
  width: 100%;
  height: 100%;
  padding-left: 32rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300rem);
  justify-content: center;
  align-items: center;
  gap: 48rem;
}
