.sectionContainer {
  height: calc(100vh - 58rem);
  padding: 32rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 32rem;
}

.levelsTitle {
  height: fit-content;
  padding-left: 218rem;
  font-size: 48rem;
  font-weight: 900;
  font-family: var(--header-font);
  white-space: nowrap;
}
.levelsContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300rem);
  justify-content: center;
  align-items: center;
  gap: 48rem;
}
