.root {
  position: fixed;
  top: 32px;
  left: 32px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 24px;
}

.blastCountBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 16px;
  width: 100%;
  opacity: 0.5;
}

.blastCountBarInner {
  position: fixed;
  top: 0;
  left: 0;
  height: 16px;
  width: 100%;
  transform-origin: center top;
  transition: transform 0.2s;
}
