@import url('./theme.scss');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
  font-size: 1px;
}
body {
  font-family: var(--regular-font);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background: var(--back-color);
}
ul {
  padding: 0;
  list-style-type: none;
}
p,
h2 {
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}
// класс для заморозки скролла при открытии модалки
.frozenScroll {
  overflow: hidden;
}
@media (max-width: 562px) {
  html {
    font-size: 0.24155vw;
  }
}

svg {
  width: 16px;
  height: 16px;
  fill: var(--text-color);
}

#modal-root {
  position: absolute;
  top: 0;
  left: 0;
}
