@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&family=Rammetto+One&display=swap');

:root {
  --text-color: #5b4d4d;
  --back-color: #fffdf9;
  --accent1-color: #eb7070;
  --accent2-color: #aeda77;
  --header-font: 'Rammetto One', cursive;
  --regular-font: 'Plus Jakarta Sans', sans-serif;
}
