.storyContainer {
  height: calc(100vh - 58rem);
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  overflow-y: auto;
  outline: 1rem solid var(--text-color);
}
.storyItem {
  width: 100%;
  display: flex;
  gap: 64rem;
  flex-shrink: 0;
}
.paddingLeft {
  padding-left: 250rem;
}
.paddingRight {
  padding-right: 250rem;
}
.description {
  max-width: 50%;
  font-size: 32rem;
  font-weight: 600;
  font-family: var(--header-font);
}
.alignRight {
  text-align: right;
}
.nextPageBtn {
  padding: 12rem 24rem;
  position: fixed;
  bottom: 32rem;
  right: 32rem;
  font-size: 16rem;
  font-weight: 300;
  color: var(--accent1-color);
  background-color: var(--back-color);
  border: 1rem solid var(--accent1-color);
  border-radius: 16rem;
}
.imgContainer {
  max-width: 50%;
  max-height: 100%;
  flex: 1 1 auto;
}
