.storyContainer {
  height: calc(100vh - 58rem);
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  overflow-y: auto;
}
.storyItem {
  width: 100%;
  height: 100%;
  padding: 32rem;
  display: flex;
  align-items: center;
  gap: 24rem;
  flex-shrink: 0;
  overflow: hidden;
}
.storyItem2 {
  justify-content: flex-end;
  gap: 48rem;
}
.storyItem3 {
  justify-content: center;
}
.description {
  max-width: 35%;
  font-size: 24rem;
}
.description1 {
  align-self: flex-start;
}
.description2 {
  max-width: 45%;
  align-self: center;
}
.description3 {
  margin-bottom: 96rem;
  align-self: flex-end;
}
.description4 {
  max-width: 45%;
  margin-top: 80rem;
  align-self: flex-start;
}
.alignRight {
  text-align: right;
}
.nextPageBtn {
  padding: 12rem 24rem;
  position: fixed;
  bottom: 32rem;
  right: 32rem;
  font-size: 16rem;
  font-weight: 300;
  color: var(--accent1-color);
  background-color: var(--back-color);
  border: 1rem solid var(--accent1-color);
  border-radius: 16rem;
}
.imgContainer {
  max-height: calc(100vh - 58rem);

  & > img {
    max-height: calc(100vh - 58rem);
  }
}
.img1 {
  margin-right: -96rem;
}
.img2,
.img3 {
  max-width: 45%;
}
.img4 {
  margin-left: -96rem;
}
