.storyItem1,
.storyItem4 {
  width: 100%;
  height: 100%;
  padding: 32rem;
  display: flex;
  align-items: center;
  gap: 24rem;
  flex-shrink: 0;
  overflow: hidden;
}
.storyItem2 {
  width: 100%;
  height: 100%;
  padding: 32rem 32rem 32rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48rem;
  flex-shrink: 0;
  overflow: hidden;
}
.storyItem3 {
  width: 100%;
  height: 100%;
  padding: 32rem 0 32rem 32rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24rem;
  flex-shrink: 0;
  overflow: hidden;
}
.storyItem5 {
  width: 100%;
  height: 100%;
  padding: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24rem;
  flex-shrink: 0;
  overflow: hidden;
}
.description1 {
  max-width: 35%;
  font-size: 24rem;
  align-self: flex-start;
  text-align: right;
}
.description2 {
  max-width: 45%;
  padding-left: clamp(12rem, 15vw, 250rem);
  font-size: 24rem;
  align-self: center;
}
.description3 {
  max-width: 45%;
  padding-right: clamp(12rem, 15vw, 250rem);
  margin-bottom: 96rem;
  font-size: 24rem;
  align-self: flex-end;
  text-align: right;
}
.description4 {
  max-width: 45%;
  margin-top: 80rem;
  font-size: 24rem;
  align-self: flex-start;
}
.description5 {
  margin-bottom: 32rem;
  font-size: 24rem;
  font-weight: 600;
}
.alignRight {
  text-align: right;
}
.imgContainer {
  max-height: calc(100vh - 58rem);

  & > img {
    max-height: calc(100vh - 58rem);
  }
}
.img1 {
  margin-right: -96rem;
}
.img2,
.img3 {
  max-width: 45%;
}
.img4 {
  margin-left: -96rem;
}

@media (max-width: 1024px) {
  .img1,
  .img2,
  .img3,
  .img4,
  .img5 {
    margin: 0;
  }
  .storyItem1,
  .storyItem2,
  .storyItem3,
  .storyItem4,
  .storyItem5 {
    padding: 32rem;
  }
  .description1,
  .description2,
  .description3,
  .description4,
  .description5 {
    padding: 0;
    font-size: 18rem;
  }
}

@media (max-width: 480px) {
  .storyItem1,
  .storyItem2,
  .storyItem3,
  .storyItem4,
  .storyItem5 {
    padding: 24rem;

    &:first-child {
      margin-top: 96rem;
    }
    &:not(:last-child) {
      flex-direction: column-reverse;
    }
  }
  .description1,
  .description2,
  .description3,
  .description4,
  .description5,
  .img1,
  .img2,
  .img3,
  .img4,
  .img5 {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}
