.menuContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  z-index: 3;
  background-color: var(--back-color);
}
.closeIconButton {
  position: absolute;
  top: 24rem;
  left: 24rem;
}
.closeIcon {
  width: 32rem;
  height: 32rem;
  stroke: var(--text-color);
}
.menu {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48rem;
}
.link {
  width: fit-content;
  display: inline-block;
  font-size: 24rem;
}
