.titlesSection {
  min-height: calc(100vh - 58rem);
  padding: 32rem 32rem 32rem clamp(12rem, 15vw, 250rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  scroll-snap-align: start;
}
.aboutAuthor {
  max-width: 50%;
  max-height: calc(100vh - 58rem);
}
.authorDescription {
  font-size: 18rem;
  font-weight: 300;
}
.titles {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(2, fit-content(200rem));
  gap: 24rem;
  align-items: baseline;
  & > * {
    width: fit-content;
  }
}
.titleName {
  font-size: 18rem;
  font-weight: 700;
}
.author {
  font-size: 18rem;
  font-family: var(--header-font);
  &:hover,
  &:focus {
    color: var(--accent1-color);
  }
}
.emptyContainer {
  max-width: 70%;
  max-height: calc(100vh - 58rem);
  display: flex;
  align-items: center;
  gap: 64rem;
}
.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.arrow {
  width: clamp(100rem, 15vw, 250rem);
  height: clamp(100rem, 15vw, 250rem);
  transform: rotate(210deg);
  fill: none;
}
.title {
  font-size: 64rem;
  font-family: var(--header-font);
  color: var(--accent1-color);
  @media (max-width: 1024px) {
    font-size: 48rem;
  }
}
.note {
  font-size: 16rem;
  font-weight: 300;
  @media (max-width: 1024px) {
    font-size: 12rem;
  }
}
.titlesTitle {
  height: fit-content;
  padding-left: clamp(12rem, 15vw, 250rem);
  font-size: 48rem;
  font-weight: 900;
  font-family: var(--header-font);
  white-space: nowrap;
  grid-area: title;
  @media (max-width: 1024px) {
    font-size: 32rem;
  }
  @media (max-width: 480px) {
    padding: 0;
    font-size: 24rem;
  }
}
@media (max-width: 1024px) {
  .titlesSection {
    padding: 32rem 0;
    display: grid;
    gap: 32rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'title title'
      'titles titles'
      'dasha vova';
  }
  .titles {
    padding-left: clamp(12rem, 15vw, 250rem);
    grid-template-columns: repeat(4, fit-content(250rem));
    grid-area: titles;
  }
  .titleAuthors {
    padding-right: 32rem;
  }
  .aboutAuthor {
    max-width: 100%;
    font-size: 18rem;
    display: flex;
    flex-direction: column;
    gap: 24rem;
    &:nth-child(3) {
      padding-left: 32rem;
      grid-area: dasha;
    }
    &:last-child {
      padding-right: 32rem;
      grid-area: vova;
    }
  }
}
@media (max-width: 480px) {
  .titlesSection {
    padding: 24rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32rem;
  }
  .titles {
    padding: 0;
    grid-template-columns: repeat(2, fit-content(250rem));
    grid-area: titles;
  }
  .titleAuthors {
    padding-right: 32rem;
  }
  .aboutAuthor {
    max-width: 100%;
    padding: 0 !important;
    font-size: 18rem;
  }
}
