.titlesSection {
  height: calc(100vh - 58rem);
  padding: 32rem 32rem 32rem clamp(12rem, 15vw, 250rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.aboutAuthor {
  max-width: 50%;
  max-height: calc(100vh - 58rem);
}
.authorDescription {
  font-size: 18rem;
  font-weight: 300;
}
.titles {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(2, fit-content(200rem));
  gap: 24rem;
  align-items: baseline;
}
.titleName {
  font-size: 18rem;
  font-weight: 700;
}
.author {
  font-size: 18rem;
  font-family: var(--header-font);
  &:hover,
  &:focus {
    color: var(--accent1-color);
  }
}
.emptyContainer {
  max-width: 70%;
  max-height: calc(100vh - 58rem);
  display: flex;
  align-items: center;
  gap: 64rem;
}
.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.arrow {
  width: clamp(12rem, 15vw, 250rem);
  height: clamp(12rem, 15vw, 250rem);
  transform: rotate(210deg);
  fill: none;
}
.title {
  font-size: 64rem;
  font-family: var(--header-font);
  color: var(--accent1-color);
}
.note {
  font-size: 16rem;
  font-weight: 300;
}
